# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/
*.sln
*.suo
*.xcodeproj
*.xcworkspace
.vs/
*.VC.db
*.opensdf
*.sdf
*.user
*.userosscache

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
*.swp
*~
